Multiple max-age: directives in Cache-Control: response headers

<!--

Have you read Bouygues Telecom's Code of Conduct? By filing an Issue, you are expected to comply with it, including treating everyone with respect: https://github.com/bouyguestelecom/.github/blob/master/CODE_OF_CONDUCT.md

-->

### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
  * Reproduced the problem
  * Checked that your issue isn't already filed: <https://github.com/issues?utf8=✓&q=is%3Aissue+user%3Abouyguestelecom>

### Description
When requesting assets, we can see two Cache-Control headers which is valid.

Both of them declare a max-age: directives which is invalid as stated in [RFC7234 § 4.2.1](https://datatracker.ietf.org/doc/html/rfc7234#section-4.2.1) :  

> When there is more than one value present for a given directive (e.g., two Expires header fields, multiple Cache-Control: max-age directives), the directive's value is considered invalid.  Caches are encouraged to consider responses that have invalid freshness information to be stale.

### Steps to Reproduce

1. make a GET request to an already deployed a7 service to download content
2. Inspect response headers

**Expected behavior:**

```
cache-control: public, max-age=31536000, immutable
```

or 

```
cache-control: max-age=31536000 
cache-control: public, immutable
```


**Actual behavior:**

```
cache-control: max-age=31536000 
cache-control: public, max-age=31536000, immutable
```

**Reproduces how often:**

100%

### Versions

all

### Additional Information


